* {
  box-sizing: border-box;
}
body {
  overflow: hidden;
  /* background: linear-gradient(
    90deg,
    rgb(228, 253, 255) 25%,
    rgb(152, 179, 255) 75%
  ); */
  background-color: #5E17EB;
  color: white;
}
.shape-selection {
  text-align: center;
}
.shape {
  height: 100%;
  margin: 2rem 2rem 0 0;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
.selected-shape {
  border: thin solid black;
}
/* polygon */
.hexagon {
  overflow: hidden;
  display: inline-flex;
  margin: 4rem 0;
  width: 10rem;
  height: 10rem;
  transform: rotate(-30deg) skewX(30deg);
  border-radius: 0.5rem;
}
.hexagon *,
.hexagon *:before {
  display: block;
  overflow: hidden;
  width: inherit;
  height: inherit;
  border-radius: inherit;
}
.hexagon-inner {
  transform: skewX(-30deg) rotate(60deg) skewX(30deg);
  opacity: 0.15;
  transition: opacity 0.75s;
}
.hexagon:first-child .hexagon-inner:before {
  transform: skewX(-30deg) rotate(60deg) skewX(30deg);
  /* background: orange; */
  background-color: white;
  content: "";
}
.hexagon-inner:hover {
  opacity: 1;
}
/* Circle */
.circle {
  height: 10rem;
  width: 10rem;
  /* background-color: #18b6ff; */
  background-color: white;
  border-radius: 50%;
  opacity: 0.15;
  transition: opacity 0.75s;
}
.circle:hover {
  opacity: 1;
}
/* Trapeze*/
.trapeze {
  /* border-bottom: 4rem solid #0f9fff; */
  border-bottom: 4rem solid white;
  border-left: 2rem solid transparent;
  border-right: 2rem solid transparent;
  height: 0;
  width: 10rem;
  opacity: 0.15;
  transition: opacity 0.75s;
}
.trapeze:hover {
  opacity: 1;
}
/* rectangle */
.rect-ver {
  height: 10rem;
  width: 5rem;
  /* background-color: #06ffc9; */
  background-color: white;
  opacity: 0.15;
  transition: opacity 0.75s;
}
.rect-ver:hover {
  opacity: 1;
}
.rect-hor {
  height: 5rem;
  width: 10rem;
  /* background-color: #ff4747; */
  background-color: white;
  opacity: 0.15;
  transition: opacity 0.75s;
}
.rect-hor:hover {
  opacity: 1;
}

/* button */

.btn-container {
  position: relative;
  margin: 0px auto;
  padding-top: 30px;
  text-align: center;
  font-family: "Roboto", serif;
  color: #333;
}
